:root {
    font-family: Arial, Helvetica, sans-serif;
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.app {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px;
}

/* first screen */

#textImputArea {
    padding: 10px;
    border: solid 2px rgb(20, 20, 49);
    grid-column: span 3;
    height: 350px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-size: 1rem;
    resize: none;
}

#createListButton {
    grid-column: span 3;
    width: 400px;
    justify-self: center;
    height: 40px;
    margin: 10px 10px 5px 10px;
    font-size: 0.9rem;
}

.extractionOptions {
    justify-self: center;
    margin: 5px 10px 10px 10px;
}

.extractionOptions > * {
    margin: 10px;
}

#minNumOfOccurrencies {
    width: 40px;
}
/* second screen */

.secondScreenApp {
    display: grid;
    grid-template-columns: 535px 1fr;
}

#textShowScreen {
    white-space: pre-wrap;
    padding: 10px; 
    border: solid 2px rgb(20, 20, 49);
    overflow: scroll;
    grid-column: span 2;
    height: 350px;
    margin-bottom: 20px;
}

.emphasizedWord {
    background-color: greenyellow;
}

#addNewTerm {
    height: 40px;
    font-size: 1.5rem;
}

#whichAdditionalScreens {
    height: 40px;
    font-size: 0.9rem;
}

#occurrenciesForm {
    margin: 20px 0px;
    grid-column: span 2;
}

#occurrenciesForm input {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.occurrenciesList li {
    list-style: none;
    display: grid;
    grid-template-columns: 250px 250px 35px 1fr;
    grid-auto-rows: minmax(60px, auto);
}

.deleteTerm {
    display: grid;
    align-self: stretch;
    border-bottom: 1px solid rgb(100, 99, 99);
    border-top: 1px solid rgb(100, 99, 99);
    background-color: crimson;
    color: white;
    user-select: none;
    cursor: pointer;
}


.deleteTerm span {
    display: grid;
    align-items: center;
    justify-items: center;
}

.parallelExample,
.example {
    border: 1px solid rgb(100, 99, 99);
    display: none;
    grid-template-columns: 30px 1fr 30px;
    align-content: stretch;
    justify-content: center;
    text-align: center;
}

.parallelExampleMain,
.exampleMain {
    display: grid;
    align-content: center;
}

.parallelExampleMain > span,
.exampleMain > span {
    padding: 5px;
}

.parallelExampleMain input,
.exampleMain input {
    border: none;
    width: 100%;
    height: 100%;
}

.parallelExampleArrow,
.exampleArrow {
    display: grid;
    align-content: stretch;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 233, 205);
    user-select: none;
    cursor: pointer;

}

.parallelExampleArrowLeft,
.exampleArrowLeft {
    border-right: 1px solid gray;
}

.parallelExampleArrowRight,
.exampleArrowRight {
    border-left: 1px solid gray;
}

#parallelTextArea {
    display: none;
    margin: 20px 0px;   
    border: 1px solid gray;   
}

#parallelTextArea textarea {
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-size: 1rem;
    width: 100%;
    height: calc(100% - 40px);
    border: none;
    resize: none;
    padding: 10px;
}

#parallelTextArea div {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 1rem;
    width: 100%;
    height: calc(100% - 40px);
    border: none;
    padding: 10px;
    overflow-y: scroll;
    white-space: pre-wrap;
}

#parallelTextArea #acceptParallelTextButton  {
    height: 40px;
    width: 100%;
    font-size: 0.9rem;
}

#downloadList {
   grid-column: span 2;
   width: 250px;
   display: grid;
   justify-self: center;
   height: 40px;
   width: 400px;
   font-size: 0.9rem;
}